<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linking login style sheet -->
    <link rel='stylesheet' href='/styles/customizeStyle.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../customizer/app.js" type="module"></script>

    <title>Index</title>

</head>

<body>
    <div class="navbar">
        <div class="menu">
            <button  class="hamburger" onclick="showSidebar()">☰</button>
        </div>
        <a  style="color: rgb(176, 206, 255);" href="/"><div class="title">shoestomizer.</div></a>
        <div class="welcoming">Welcome, <%= name    %>!</div>
    </div>


    <div class="sidebar" id="sidebar">

        <a href="#About"></i> About</a>

        <a href="#contact">Contact</a>

        <form action="/logout?_method=DELETE" method="POST">
            <button class="aButton" type="submit"> Logout
            </button>
        </form>

        <button  class="aButton" onclick="hideSidebar()"> Close
            
        </button>

    </div> 
    
    <div class="sidebarImages" id="sidebarImages">

        <i class="fa fa-fw fa-home"></i>

        <i class="fa fa-fw fa-envelope"></i>

        <i class="fa fa-fw fa-user"></i> 

        <i class="fa fa-fw fa-times" onclick="hideSidebar()" style="cursor:pointer"></i> 


    </div>
    


    <div data-command="download"  title="Download">
        <img width="100" height="100" style="margin-left:300px; margin-top: 100px; position: absolute;" src="/images/download-icon.png" onclick="showOrder()"/>
    </div>                 
    

    
    <a href="/newOrder/<%=sneaker.id%>" id="order" width="100" height="100">order</a>



    <canvas id="canvas" width="800" height="800"></canvas>

    <div class="colorscontainer">
            <div class="onecolor" data-color="#ffffff">
                <div class="swatch" style="background-color:#ffffff"></div>
            </div>
            <div class="onecolor active" data-color="#000000">
                <div class="swatch" style="background-color:#000000"></div>
            </div>
            <div class="onecolor" data-color="#ff0000">
                <div class="swatch" style="background-color:#ff0000"></div>
            </div>
            <div class="onecolor" data-color="#00ff00">
                <div class="swatch" style="background-color:#00ff00"></div>
            </div>
            <div class="onecolor" data-color="#0000ff">
                <div class="swatch" style="background-color:#0000ff"></div>
            </div>
            <div class="onecolor" data-color="#00ffff">
                <div class="swatch" style="background-color:#00ffff"></div>
            </div>
            <div class="onecolor" data-color="#ff00ff">
                <div class="swatch" style="background-color:#ff00ff"></div>
            </div>
            <div class="onecolor" data-color="#fdf200">
                <div class="swatch" style="background-color:#fdf200"></div>
            </div>
            <div class="onecolor" data-color="#c46f0f">
                <div class="swatch" style="background-color:#c46f0f"></div>
            </div>
            <div class="onecolor" data-color="#fd8f27">
                <div class="swatch" style="background-color:#fd8f27"></div>
            </div>
            <div class="onecolor" data-color="#0099ff">
                <div class="swatch" style="background-color:#0099ff"></div>
            </div>
            <div class="onecolor" data-color="#ff009d">
                <div class="swatch" style="background-color:#ff009d"></div>
            </div>
    </div>

    <img  id="pic" style="display: none;" src="<%=sneaker.imagePath%>"> </img>



    <script src="/js_functional/index.js"></script>
</body>

