@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


html,body{
    padding:0;
    margin:0;
    height:100%;
}

body {
    background-color: rgb(253, 242, 0);
    background-repeat:no-repeat ;
    background-size:cover;
    font-family: Work Sans;
    color:white;
}



.navbar{

    position: relative;
    z-index: 2;
    width: 100%;
    height: 11%;
    background-color: rgba(0, 0, 0, 0.85);


}

.title {

    display: inline-block;
    width: 49%;
    height: 100%;
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;

}

.menu{
    display: inline-block;
    width:24.8%;
    text-align: left;
    font-size: 2vw;

}

.welcoming{
    display: inline-block;
    width:25%;
    text-align: right;
    font-size: 2vw;
}




.hamburger{
    outline: none;
    cursor: pointer;
    margin-left: 2vw;
    color:white;
    font-size: 3vw;
    font-family: inherit;
    border: 0;
    padding:0;
    background-color: rgba(0,0,0,0);
}

.sidebar {

    transition: 1s;
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    padding-top: 16px;
}
.sidebarImages{

    transition: 1s;
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    padding-top: 16px;
}

  



.sidebarImages i {

    position: relative;

    text-decoration: none;
    font-size: 2.45vw;

    float: right;

    color: white;
    transition:0.3s;
    padding: 10px 10px 10px 80px;


}
.sidebar a {

    font-weight: 900;

    text-decoration: none;
    font-size: 2vw;

    color: black;

    ;
    display: block;
    transition:0.3s;
    padding: 10px 10px 10px 80px;



}

.aButton {
    outline: none;
    font-weight: 900;

    cursor: pointer;
    font-family: inherit;
    border: 0;
    padding:0;
    background-color: rgba(0,0,0,0);
    font-size: 2vw;

    color:black;
    display: block;
    transition:0.3s;
    padding: 10px 10px 10px 80px;


  }
  
.sidebar a:hover, .aButton:hover {
    color: rgb(255, 170, 0);;
}




.colorscontainer{

    height:100vh;
    position: absolute;
    
    top:100px;
    right:0px;
    
}


 .onecolor{
    width:40px;
    height: 40px;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
}



.onecolor.active, .onecolor:hover{
    background-color:#000000;
    border-radius: 50px;
}




.swatch{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border:2px black solid;
    border-radius: 50px;


}

#canvas{
    margin-top: 50px;
    margin-left: 420px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    
}



#order{
    text-decoration: none;
    background-color: rgb(101, 163, 101);
    border-radius: 50px;
    padding: 10px;
    border: 5px solid black;
    cursor: pointer;
    font-size: 30px;
    color: black;
    font: bolder;
    margin-left:294px;
    margin-top: 250px;
    position: absolute; 
    display: none;
}