@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
    background-image: url("/images/galbin.jpeg");
    background-repeat:no-repeat ;
    background-size:cover;
    font-family: Work Sans;
    color:white;
}

html,body{
    margin:0;
    height:100%;
}


.loginwrapper{
    width: 35%;
    height: 100%;
    padding-top: 4vw ;
    padding-bottom: 4vw ;
    padding-left: 3.3vw;
    padding-right:3.3vw;
    background-color:rgb(0, 0, 0,0.75);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


.title {
    width: 100%;
    margin:auto;
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
}

.subtitle{
    margin-top: 6vw;
    font-size: 2.3vw;
    margin-bottom: 4vw;
    
}


.userpwdwrapper {
    height:4vw;
    margin-top:2vw;

}

.iconcontainer{
    float:left;
    height:100%;
    width: 12%;

}

#inputdata {

    height:100%;
    width:87%;
    float: right;
    border-radius: 50px;;
    font-size: 1.5vw;
    border:none;
    color:black;
    text-indent: 2vw;
    outline:none;
    background-color: rgb(255, 255, 255,0.);
}

img {
    border-radius: 50px;;
    height: 100%;
    width: 100%;

}


button {
    font-family: Work Sans;
    font-size: 2vw;
    color: white;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    margin-top: 5vw;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 30%;
    margin-left:35%;
    margin-right: 35%;
    outline:none;

  }



  .loginButton {
    margin-top:11vw;
    background-color: #4CAF50;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .loginButton:hover, .loginButton:focus, .loginButton:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  
  .registerButton {
    background-color: rgb(6, 134, 214);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .registerButton:hover, .registerButton:focus, .registerButton:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  
  
  .back{
      color:white;
  }

  .errmsg{
      margin-top:30px;
      position: fixed;
      text-shadow: red;
      background-color:rgb(0, 0, 0, 0);
  }