@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


html,body{
    padding:0;
    margin:0;
    height:100%;
}

body {
    background-color: rgb(253, 242, 0);
    background-repeat:no-repeat ;
    background-size:cover;
    font-family: Work Sans;
    color:white;
}



.navbar{

    position: relative;
    z-index: 2;
    width: 100%;
    height: 11%;
    background-color: rgba(0, 0, 0, 0.85);


}

.title {

    display: inline-block;
    width: 49%;
    height: 100%;
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;

}

.menu{
    display: inline-block;
    width:24.8%;
    text-align: left;
    font-size: 2vw;

}

.welcoming{
    display: inline-block;
    width:25%;
    text-align: right;
    font-size: 2vw;
}




.hamburger{
    outline: none;
    cursor: pointer;
    margin-left: 2vw;
    color:white;
    font-size: 3vw;
    font-family: inherit;
    border: 0;
    padding:0;
    background-color: rgba(0,0,0,0);
}

.sidebar {

    transition: 1s;
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    padding-top: 16px;
}
.sidebarImages{

    transition: 1s;
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    padding-top: 16px;
}

  



.sidebarImages i {

    position: relative;

    text-decoration: none;
    font-size: 2.45vw;

    float: right;

    color: white;
    transition:0.3s;
    padding: 10px 10px 10px 80px;


}
.sidebar a {

    font-weight: 900;

    text-decoration: none;
    font-size: 2vw;

    color: black;

    ;
    display: block;
    transition:0.3s;
    padding: 10px 10px 10px 80px;



}

.aButton {
    outline: none;
    font-weight: 900;

    cursor: pointer;
    font-family: inherit;
    border: 0;
    padding:0;
    background-color: rgba(0,0,0,0);
    font-size: 2vw;

    color:black;
    display: block;
    transition:0.3s;
    padding: 10px 10px 10px 80px;


  }
  
.sidebar a:hover, .aButton:hover {
    color: rgb(255, 170, 0);;
}


.error{

    color: black;
}



.newForm{
    color: black;
    margin-left: 18%;
}

label{
    font-size:2vw;
}


.keyboardInput{
    height: 42px;
    outline: none;
    border-radius: 50px;
    font-size: 1.5vw;
    border:2px solid rgb(207, 248, 126);
    color:black;
    text-indent: 1vw;
    background-color: rgb(255, 255, 255,0.9);
}


input[type="file"] {
    display: none;
}
.inputfile {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border:2px solid rgb(207, 248, 126);
    border-radius: 50px;
    background-color: rgb(255, 255, 255,0.8);
}



.createButton {
    outline: none;
    cursor: pointer;
    width: 260px;
    font-size: 1vw;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
    padding: 17px;
    border-radius: 50px;
    text-decoration: none;
    background-color: rgb(231, 84, 84);
    display: inline-block;
    
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.createButton:hover, .createButton:focus, .createButton:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.cancel{
    border: 2px solid black;

    cursor: pointer;
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;

    display: inline-block;

    font-size: 1vw;
    padding: 17px;
    border-radius: 50px;
    background-color: rgb(148, 228, 217);


}